html, body {
    background-color: azure;
    height: 100%;
}

div {
    align-content: center;
    vertical-align: middle;
    width: 100%;
}

h1 {
    font-family: monospace;
    font-size: 1vw;
    text-align: center;
    color: #222;
    padding: 10pt;
    white-space: nowrap;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rounded-border {
    border-style: solid;
    border-width: 1pt;
    border-color: #222;
    border-radius: 10px;
}